body {
  background-image: url("../images/bg.jpg");
  background-repeat: repeat-x;
  background-position: 50% 0%;
  background-size: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  max-height: 100%
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.header-top {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  max-height: 175px;
}

.header-left {
  max-width: 320px;
  max-height: 175px;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 688px;
} 

.contacts {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: Tahoma;
  color: #41a1b9;
  margin-left: 450px;
  line-height: 15px;
}

.countries {
  display: flex;
  justify-content: flax-end;
  max-width: 400px;
  margin-left: 250px;
   color: #41a1b9;
  
}
.countries a{
   color: #41a1b9;
}

.flag {
  margin-right: 5px;
  margin-left: 5px;
}

.lanka {
 padding-left: 18px;
}

.header-bottom {
  display: flex;
  flex-direction: column;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #333333;
}

.main-menu>li {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  margin-left: 20px
}

.arrow {
  position: relative;
  background-image: url("../images/arrow.png"); 
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.main-menu a {
  display: block;
  margin-left: -1px;
  padding: 8px 10px;
  color: #fff;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14px;
}

.main-menu a:hover {
    background: #333333;
}

.main-menu .sub-menu {
  position: absolute;
  display: none;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #303030;
}

.main-menu .sub-menu a {
  margin-bottom: -1px;
}

.main-menu>li:hover .sub-menu {
  display: block;
}

.content {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
}

.col_left {
  width: 25%;
  background-color: #edeef0;
  text-align: center;
  line-height: 30px;
}

.col_right {
  width: 25%;
  background-color: #edeef0;
  text-align: center;
  line-height: 30px;
}

.copyright {
  display: flex;
  justify-content: center;
  color: #fff;
}
